
@keyframes show1 {
  0% {fill:#f3ebea;}
 20% {fill:#eed9d4}
 40% {fill: #ecbdb2}
 60% {fill: #eba393}
 100% {fill: #EE9480;}
 }

@keyframes show2 {
  0% {fill:#e2e6e7;}
 20% {fill:#8fc6ce}
 40% {fill: #62c9d6}
 60% {fill:#49bbca}
 100% {fill: #2AB7CA;}
 }
