
    .a-bar{
    animation: show1 2s ease-in-out infinite;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0,0,1,1);
    }

    .b-bar{
    animation: show2 2s ease-in-out infinite;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0,0,1,1);
    }


